######################
# Intellij
######################
.idea/**
*.iml

######################
# Vagrant
######################
.vagrant/**

######################
# Maven
######################
/log/**
target/**

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn